:root {
    --slidev-code-padding: 8px 10px;
    --slidev-code-background: #16161690 !important;
}


h6 {
    text-transform: initial !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

.dark #slide-content {
    background-color: black !important;
}

/* Transitions */
.slidev-vclick-target {
    transition: opacity 400ms ease;
}

.slidev-vclick-hidden {
    opacity: 0;
    pointer-events: none;
}

iframe {
    background: black;
}

.slidev-code {
    backdrop-filter: blur(10px);
    border: 1px solid #eee1;
}

.rough-annotation>path[stroke-width="2"] {
    stroke-width: calc(2px * var(--slidev-slide-scale));
}